@use './functions' as f;

@keyframes shine {
  0%{
    left: -150%;
  }
  25%{
    left: -150%;
  }
  75%{
    left: +150%;
  }
  100%{
    left: +150%;
  }
}

@keyframes scroll {
  to{
    transform: translate(calc(-50% - f.rem(5)));
  }
}