@use '../utils/functions' as f;
@use '../utils/mixins' as m;
@use '../utils/variables' as v;

.hero {
  line-height: 1.5;
  background-image: linear-gradient(0deg,
      var(--purple-2),
      rgba(255 255 255 / 0),
      rgba(255 255 255 / 0));

  &__content {

    &-text {
      color: var(--txtp);
      font-size: f.rem(16);

      @include m.media(sm) {
        font-size: f.rem(18);
      }

      @include m.media(md) {
        font-size: f.rem(20);
      }

      @include m.media(lg) {
        font-size: f.rem(22);
      }

      @include m.media(xl) {
        font-size: f.rem(24);
      }
    }

    .top-text {
      font-size: v.$subtitle-size;
      font-weight: bold;
      width: max-content;
      position: relative;
      isolation: isolate;
      z-index: 0;

      &::after {
        content: '';
        position: absolute;
        width: 110%;
        height: 80%;
        background-color: var(--purple-2);
        top: f.rem(10);
        left: f.rem(5);
        border-radius: f.rem(5);
        z-index: -1;
      }
    }

    &-header {
      font-size: v.$title-size;
      white-space: nowrap;
      text-align: center;
      font-weight: bolder;
      color: var(--bs-indigo);
    }

    &-explore {
      background-color: var(--green);
      color: var(--body-bg) !important;
      font-size: f.rem(16) !important;
      transition: all 0.3s ease;
      font-weight: bold !important;

      @include m.media(sm) {
        font-size: f.rem(18) !important;
      }

      @include m.media(md) {
        font-size: f.rem(20) !important;
      }

      @include m.media(lg) {
        font-size: f.rem(22) !important;
      }

      @include m.media(xl) {
        font-size: f.rem(24) !important;
      }

      &:hover {
        background-color: var(--purple);
      }
    }
  }

  &__banner {

    &-img {
      filter: drop-shadow(f.rem(10) f.rem(10) f.rem(10) var(--black-40));
    }
  }
}

.latest,
.mostViewed {

  &__header {

    @include m.media(sm) {
      border-bottom: 1px solid var(--purple-2);
    }

    &-txt {
      font-size: v.$subtitle-size;
      font-weight: bolder;

      i {
        color: var(--red);
      }
    }

    &-btn {
      background-color: var(--green);
      color: var(--bs-white) !important;
      transition: all 0.3s ease;
      letter-spacing: 2px;
      font-size: f.rem(10) !important;

      @include m.media(sm) {
        font-size: f.rem(16) !important;
      }

      @include m.media(md) {
        font-size: f.rem(20) !important;
      }

      @include m.media(lg) {
        font-size: f.rem(24) !important;
      }

      &:hover {
        transform: translateY(f.rem(-5));
        background-color: var(--bs-indigo);
      }
    }
  }
}

.VR {
  line-height: 1.5;
  background-image: linear-gradient(0deg,
      var(--purple-2),
      rgba(255 255 255 / 0),
      rgba(255 255 255 / 0));

  &__left {

    &-title {
      font-weight: bolder;
      padding-left: f.rem(20);
      color: var(--purple);
      text-shadow: 0 0 f.rem(15) var(--bs-white);
    }

    &-text {
      background-color: var(--bs-indigo);
      padding: f.rem(20);
      border-radius: f.rem(10);
      color: var(--bs-white);
      box-shadow: f.rem(10) f.rem(10) f.rem(15) var(--black-40);
    }
  }

  &__right {

    img {
      display: block;
      width: 100%;
      max-width: f.rem(500);
    }
  }
}

.advertise {
  line-height: 1.2;

  &__left {

    img {
      display: block;
      width: 100%;
      max-width: f.rem(500);
    }
  }

  &__right {
    padding: f.rem(20);
    display: flex;
    flex-direction: column;
    gap: f.rem(10);

    @include m.media(sm) {
      background-color: var(--body-bg);
      box-shadow: 0 0 f.rem(15) var(--black-20);
      border-radius: f.rem(10);
    }

    &-title {
      font-weight: bolder;
      color: var(--bs-indigo);
    }
  }

  &__form {
    background-color: var(--elem-bg);
    padding: f.rem(10);
    border-radius: f.rem(10);
    display: grid;
    grid-auto-columns: 1fr;
    gap: f.rem(10);
    grid-template-areas:
      "mail"
      "phone"
      "msg"
      "submit";

    @include m.media(sm) {
      grid-template-areas:
        "mail phone"
        "msg msg"
        "submit submit";
    }

    .mail {
      grid-area: mail;
    }

    .phone {
      grid-area: phone;
    }

    .msg {
      grid-area: msg;
    }

    .submit {
      grid-area: submit;
      border: none;
      background-color: var(--green);
      color: var(--bs-white);
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        background-color: var(--bs-indigo);
      }
    }
  }
}