@use '../utils/functions' as f;
@use '../utils/mixins' as m;
@use '../utils/variables' as v;

.main {
  --item-per-page: 6;

  @include m.media(md) {
    --item-per-page: 10;
  }

  @include m.media(lg) {
    --item-per-page: 12;
  }
}

.result {
  background-image: linear-gradient(0deg,
      var(--purple-2),
      rgba(255 255 255 / 0),
      rgba(255 255 255 / 0));

  &__header {
    font-weight: bolder;
    border-bottom: 2px solid var(--red-2);

    i {
      color: var(--red);
    }
  }
}