@use '../utils/functions' as f;
@use '../utils/mixins' as m;
@use '../utils/variables' as v;


.data-table{
  overflow-x: auto;

  .table{
    
    thead{
      white-space: nowrap;

      th{
        background-color: var(--black-20) !important;
      }
    }
  
    th{
      font-weight: bold;
      vertical-align: middle;
    }
  
    td{
      vertical-align: middle;
      line-height: 1.2;
  
      img{
        max-width: f.rem(100);
        border-radius: f.rem(5);
        aspect-ratio: 2 / 1;
        object-fit: contain;
      }
    }

    &__link{
      width: max-content;
      display: block;
      padding: f.rem(10);
      background-color: var(--green);
      color: var(--bs-white) !important;
      border-radius: f.rem(5);
      transition: all 0.3s ease;

      &:hover{
        background-color: var(--bs-indigo);
      }
    }
  }
}