@use '../utils/functions' as f;
@use '../utils/mixins' as m;
@use '../utils/variables' as v;

.client {
  line-height: 1.5;

  &__container {
    display: flex;
    flex-direction: column;
    gap: f.rem(20);

    @include m.media(lg) {
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
  }

  &__infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: f.rem(20);

    @include m.media(sm) {
      flex-direction: row;
      max-width: f.rem(800);
      background-color: var(--elem-bg);
      padding: f.rem(10);
      margin-inline: auto;
    }

    @include m.media(lg){
      margin-inline: unset;
    }

    &-profile {
      max-width: f.rem(200);
      min-width: f.rem(200);

      img {
        aspect-ratio: 1 / 1;
        object-fit: contain;
        border-radius: 50%;
        border: 2px dashed var(--green);
      }
    }

    &-list {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: f.rem(10);

      @include m.media(sm) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }

      @include m.media(md) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
      }

      &-item {
        font-weight: bolder;

        span {
          display: block;
          font-weight: normal;
          margin-left: f.rem(5);
        }
      }
    }
  }

  &__actions{
    flex-wrap: wrap;
    
    button{
      white-space: nowrap;
    }
  }
}

.send-mail{

  &__header{

    i{
      color: var(--bs-indigo);
    }
  }

  &__body{
    display: flex;
    flex-direction: column;
    gap: f.rem(20);
    align-items: center;
    
    @include m.media(md) {
      max-width: f.rem(1000);
      margin-inline: auto;
      flex-direction: row;
      justify-content: center;
    }

    &-img{
      width: 100%;
      max-width: f.rem(500);
    }
  }

  &__form{
    width: 100%;

    &-submit {

      button{
        background-color: var(--green);
        color: var(--bs-white);
        border: none;
        outline: none;
        transition: all 0.3s ease;

        &:hover{
          background-color: var(--bs-indigo);
        }
      }
    }
  }
}