@use '../utils/functions' as f;
@use '../utils/mixins' as m;
@use '../utils/variables' as v;

.menu__icon {
  width: f.rem(40);
  height: f.rem(40);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

  @include m.media(lg) {
    width: f.rem(60);
    height: f.rem(60);
    font-size: f.rem(30);
  }
}

.divider {
  overflow: hidden;
  transform: translateY(f.rem(5));
}

.btn-style {
  display: block;
  width: max-content;
  padding: f.rem(10) f.rem(20);
  border-radius: f.rem(5);
}

.swiper-wrapper {
  padding-block: f.rem(30);
}

.input-parent {
  width: 100%;
  display: flex;
  align-items: first baseline;
  gap: f.rem(5);
  background-color: var(--body-bg);
  padding: f.rem(5);
  border-radius: f.rem(5);

  input {
    width: 100%;
    border: none;
    outline: none;
  }

  textarea {
    width: 100%;
    border: none;
    outline: none;
  }

  i {
    color: var(--txts);
  }
}

.not-found {

  .container {
    display: grid;
    gap: f.rem(20);
    place-items: center;
    grid-auto-columns: 1fr;
    grid-template-areas:
      "img"
      "txt"
      "btn";

    @include m.media(md){
      grid-template-areas: 
        "txt img"
        "btn img";
    }
  }

  &__img {
    grid-area: img;
    display: block;
    width: 100%;
    max-width: f.rem(600);
  }

  &__text {
    grid-area: txt;
    line-height: 1.5;

    @include m.media(md){
      place-self: end;
    }
  }

  &__link {
    grid-area: btn;
    background-color: var(--green);
    color: var(--bs-white) !important;
    transition: all 0.3s ease;

    &:hover {
      background-color: var(--bs-indigo);
    }

    @include m.media(md){
      place-self: start center;
    }
  }
}